*.mode1v3
*.o
*.pbxuser
.DS_Store
xcuserdata
/build/
/build-aux/iOSPorts-geninfo
/build-aux/iOSPorts-genlist
/build-aux/iOSPorts-pkginfo
a.out
pkgdata_*.m
ports/security/cyrus-sasl/cyrus-sasl-2.1.25x.tar.gz.md5
ports/security/cyrus-sasl/cyrus-sasl-2.1.25x/
